---
layout: page
title: Archive
permalink: /archive/
---
<section class="archive-post-list">
  <h1>Explanatory</h1>
    <ul>
      <li><a href="http:/aaroncheng.me/explanatory/2019/01/08/border-crisis.html"><span>January 8, 2019</span> - The Border Crisis</a></li>
      <li><a href="http:/aaroncheng.me/explanatory/2018/12/14/the-larger-number.html"><span>December 14, 2018</span> - The Larger Number</a></li>
      <li><a href="http://milkcircle.github.io/explanatory/2018/07/14/first-pass-stable-television-network.html"><span>July 14, 2018</span> - Is First-Pass Stable Television Network Programming Possible?</a></li>
      <li><a href="http://milkcircle.github.io/explanatory/2018/04/22/digoxin.html"><span>April 22, 2018</span> - Digoxin</a></li>
      <li><a href="http://milkcircle.github.io/explanatory/2018/02/12/how-to-drop-a-smartphone.html"><span>February 12, 2018</span> - How to Drop a Smartphone</a></li>
      <li><a href="http://milkcircle.github.io/explanatory/2017/07/22/pseudocatatonia.html"><span>July 22, 2017</span> - Is There Such a Thing as Pseudocatatonia?</a></li>
      <li><a href="http://milkcircle.github.io/explanatory/2016/08/07/gale-shapley.html"><span>August 7, 2016</span> - How a Computer Determines the Fate of Hundreds of Thousands of Medical Students</a></li>
      <li><a href="http://milkcircle.github.io/explanatory/2016/08/04/frequentism-and-bayesianism.html"><span>August 4, 2016</span> - Frequentism vs. Bayesianism</a></li>
      <li><a href="http://milkcircle.github.io/explanatory/2016/08/03/under-the-rainbow.html"><span>August 3, 2016</span> - Under the Rainbow</a></li>
      <li><a href="http://milkcircle.github.io/explanatory/2016/08/02/cantors-diagonal-argument.html"><span>August 2, 2016</span> - Cantor's Diagonal Argument</a></li>
      </ul>
  <h1>Poetry</h1>
    <ul>
      <li><a href="https://aaroncheng.me/poetry/2019/01/08/blossom.html"><span>January 8, 2019</span> - blossom</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/01/07/mind-battlefield.html"><span>January 7, 2019</span> - if the mind is a battlefield</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/01/06/dreams.html"><span>January 6, 2019</span> - dreams</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/01/05/crypt-5.html"><span>January 5, 2019</span> - crypt 5 -- if and only if</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/01/02/retrospect.html"><span>January 2, 2019</span> - retrospect</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/01/01/crypt-4.html"><span>January 1, 2019</span> - crypt 4 -- blue beginnings and ends</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/31/saturn.html"><span>December 31, 2018</span> - saturn</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/29/phlebotomy.html"><span>December 29, 2018</span> - phlebotomy</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/27/theory.html"><span>December 27, 2018</span> - theory</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/26/dancing.html"><span>December 26, 2018</span> - dancing</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/24/crypt-3.html"><span>December 24, 2018</span> - crypt 3 -- César trece</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/24/setting-sun.html"><span>December 24, 2018</span> - setting sun</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/23/proud.html"><span>December 23, 2018</span> - proud</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/22/resolutions.html"><span>December 22, 2018</span> - resolutions</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/22/triplet-metered-eulogy.html"><span>December 22, 2018</span> - triplet-metered eulogy</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/21/crypt-2.html"><span>December 21, 2018</span> - crypt 2 -- cross-stitching a stream of consciousness</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/20/dark-matter.html"><span>December 20, 2018</span> - dark matter</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/19/liqueur.html"><span>December 19, 2018</span> - liqueur</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/18/homunculus.html"><span>December 18, 2018</span> - homunculus</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/16/demons-infest-this-world.html"><span>December 16, 2018</span> - demons infest this world</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/15/fallen.html"><span>December 15, 2018</span> - fallen</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/14/bullet.html"><span>December 14, 2018</span> - bullet</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/13/lilith.html"><span>December 13, 2018</span> - Lilith</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/12/replaced.html"><span>December 12, 2018</span> - replaced</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/11/crypt.html"><span>December 11, 2018</span> - crypt</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/10/laws.html"><span>December 10, 2018</span> - laws</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/09/whiterobe-sheepskin-demoness.html"><span>December 9, 2018</span> - whiterobe sheepskin demoness</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/08/spotless.html"><span>December 8, 2018</span> - spotless</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/08/last-words.html"><span>December 8, 2018</span> - last words</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/07/greener.html"><span>December 7, 2018</span> - greener</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/03/grampa-once-said.html"><span>December 3, 2018</span> - grampa once said he could predict the rain</a></li>
      <li><a href="http://milkcircle.github.io/poetry/2018/11/24/sink.html"><span>November 24, 2018</span> - sink</a></li>
      <li><a href="http://milkcircle.github.io/poetry/2018/09/10/cut.html"><span>September 10, 2018</span> - Cut</a></li>
      <li><a href="http://milkcircle.github.io/poetry/2018/09/08/raindrop.html"><span>September 8, 2018</span> - raindrop</a></li>
      <li><a href="http://milkcircle.github.io/poetry/2018/09/07/a-desert-ride.html"><span>September 7, 2018</span> - A desert ride</a></li>
      <li><a href="http://milkcircle.github.io/poetry/2018/09/06/linkage.html"><span>September 4, 2018</span> - linkage</a></li>
      <li><a href="http://milkcircle.github.io/poetry/2018/09/03/entropy.html"><span>September 3, 2018</span> - entropy</a></li>
      <li><a href="http://milkcircle.github.io/poetry/2018/09/02/in-the-dark.html"><span>September 2, 2018</span> - in the dark</a></li>
      <li><a href="http://milkcircle.github.io/poetry/2018/09/01/goodbye.html"><span>September 1, 2018</span> - Goodbye</a></li>
      <li><a href="http://milkcircle.github.io/poetry/2018/08/31/wernickes.html"><span>August 31, 2018</span> - Wernicke's</a></li>
      <li><a href="http://milkcircle.github.io/poetry/2018/07/06/lighthearted.html"><span>July 6, 2018</span> - lighthearted</a></li>
      <!--<li><a href="http://milkcircle.github.io/poetry/2018/07/01/potential.html"><span>July 1, 2018</span> - the pleural cavity is a potential space</a></li>-->
      <li><a href="http://milkcircle.github.io/poetry/2018/02/09/the-ladder.html"><span>February 9, 2018</span> - The Ladder</a></li>
    </ul>
  <h1>Music</h1>
    <ul>
      <li><a href="https://aaroncheng.me/music/2018/01/12/wings.html"><span>January 12, 2019</span> - wings</a></li>
      <li><a href="https://aaroncheng.me/music/2019/01/09/tell-her.html"><span>January 9, 2019</span> - tell her</a></li>
    </ul>
  <h1>Notes</h1>
    <ul>
      <li><a href="https://aaroncheng.me/notes/2019/01/07/hamiltons-equation.html"><span>January 9, 2019</span> - Hamilton's kin-selection equation</a></li>
      <li><a href="https://aaroncheng.me/notes/2018/11/26/notes-on-immunity.html"><span>November 26, 2018</span> - Notes on Immunity</a></li>
      <li><a href="https://aaroncheng.me/notes/2018/09/29/notes-on-simple-linear-regression.html"><span>September 30, 2018</span> - Notes on Simple Linear Regression</a></li>
      <li><a href="http://milkcircle.github.io/notes/2018/09/21/notes-on-hyperparathyroidism.html"><span>September 21, 2018</span> - Notes on Hyperparathyroidism</a></li>
    </ul>
</section>

<!--
<section class="archive-post-list">

   {% for post in site.posts %}
       {% assign currentDate = post.date | date: "%Y" %}
       {% if currentDate != myDate %}
           {% unless forloop.first %}</ul>{% endunless %}
           <h1>{{ currentDate }}</h1>
           <ul>
           {% assign myDate = currentDate %}
       {% endif %}
       <li><a href="{{ post.url }}"><span>{{ post.date | date: "%B %-d, %Y" }}</span> - {{ post.title }}</a></li>
       {% if forloop.last %}</ul>{% endif %}
   {% endfor %}

</section>-->
