---
layout: page
title: Archive
permalink: /archive/
---
<section class="archive-post-list">
  <h1>Explanatory</h1>
    <ul>
      <li><a href="http://milkcircle.github.io/explanatory/2018/07/14/first-pass-stable-television-network.html"><span>July 14, 2018</span> - Is First-Pass Stable Television Network Programming Possible?</a></li>
      <li><a href="http://milkcircle.github.io/explanatory/2018/04/22/digoxin.html"><span>April 22, 2018</span> - Digoxin</a></li>
      <li><a href="http://milkcircle.github.io/explanatory/2018/02/12/how-to-drop-a-smartphone.html"><span>February 12, 2018</span> - How to Drop a Smartphone</a></li>
      <li><a href="http://milkcircle.github.io/explanatory/2017/07/22/pseudocatatonia.html"><span>July 22, 2017</span> - Is There Such a Thing as Pseudocatatonia?</a></li>
      <li><a href="http://milkcircle.github.io/explanatory/2016/08/07/gale-shapley.html"><span>August 7, 2016</span> - How a Computer Determines the Fate of Hundreds of Thousands of Medical Students</a></li>
      <li><a href="http://milkcircle.github.io/explanatory/2016/08/04/frequentism-and-bayesianism.html"><span>August 4, 2016</span> - Frequentism vs. Bayesianism</a></li>
      <li><a href="http://milkcircle.github.io/explanatory/2016/08/03/under-the-rainbow.html"><span>August 3, 2016</span> - Under the Rainbow</a></li>
      <li><a href="http://milkcircle.github.io/explanatory/2016/08/02/cantors-diagonal-argument.html"><span>August 2, 2016</span> - Cantor's Diagonal Argument</a></li>
      </ul>
  <h1>Poetry</h1>
    <ul>
      <li><a href="https://aaroncheng.me/poetry/2018/12/03/grampa-once-said.html"><span>December 3, 2018</span> - grampa once said he could predict the rain</a></li>
      <li><a href="http://milkcircle.github.io/poetry/2018/11/24/sink.html"><span>November 24, 2018</span> - sink</a></li>
      <li><a href="http://milkcircle.github.io/poetry/2018/09/10/cut.html"><span>September 10, 2018</span> - Cut</a></li>
      <li><a href="http://milkcircle.github.io/poetry/2018/09/08/raindrop.html"><span>September 8, 2018</span> - raindrop</a></li>
      <li><a href="http://milkcircle.github.io/poetry/2018/09/07/a-desert-ride.html"><span>September 7, 2018</span> - A desert ride</a></li>
      <li><a href="http://milkcircle.github.io/poetry/2018/09/06/linkage.html"><span>September 4, 2018</span> - linkage</a></li>
      <li><a href="http://milkcircle.github.io/poetry/2018/09/03/entropy.html"><span>September 3, 2018</span> - entropy</a></li>
      <li><a href="http://milkcircle.github.io/poetry/2018/09/02/in-the-dark.html"><span>September 2, 2018</span> - in the dark</a></li>
      <li><a href="http://milkcircle.github.io/poetry/2018/09/01/goodbye.html"><span>September 1, 2018</span> - Goodbye</a></li>
      <li><a href="http://milkcircle.github.io/poetry/2018/08/31/wernickes.html"><span>August 31, 2018</span> - Wernicke's</a></li>
      <li><a href="http://milkcircle.github.io/poetry/2018/07/06/lighthearted.html"><span>July 6, 2018</span> - lighthearted</a></li>
      <!--<li><a href="http://milkcircle.github.io/poetry/2018/07/01/potential.html"><span>July 1, 2018</span> - the pleural cavity is a potential space</a></li>-->
      <li><a href="http://milkcircle.github.io/poetry/2018/02/09/the-ladder.html"><span>February 9, 2018</span> - The Ladder</a></li>
    </ul>
  <h1>Notes</h1>
    <ul>
      <li><a href="https://aaroncheng.me/notes/2018/11/26/notes-on-immunity.html"><span>November 26, 2018</span> - Notes on Immunity</a></li>
      <li><a href="https://aaroncheng.me/notes/2018/09/29/notes-on-simple-linear-regression.html"><span>September 30, 2018</span> - Notes on Simple Linear Regression</a></li>
      <li><a href="http://milkcircle.github.io/notes/2018/09/21/notes-on-hyperparathyroidism.html"><span>September 21, 2018</span> - Notes on Hyperparathyroidism</a></li>
    </ul>
</section>

<!--
<section class="archive-post-list">

   {% for post in site.posts %}
       {% assign currentDate = post.date | date: "%Y" %}
       {% if currentDate != myDate %}
           {% unless forloop.first %}</ul>{% endunless %}
           <h1>{{ currentDate }}</h1>
           <ul>
           {% assign myDate = currentDate %}
       {% endif %}
       <li><a href="{{ post.url }}"><span>{{ post.date | date: "%B %-d, %Y" }}</span> - {{ post.title }}</a></li>
       {% if forloop.last %}</ul>{% endif %}
   {% endfor %}

</section>-->
