---
layout: page
title: Archive
permalink: /archive/
---
<section class="archive-post-list">
  <h1>Explanatory</h1>
    <ul>
      <li><a href="http:/aaroncheng.me/explanatory/2019/02/27/sprain.html"><span>February 27, 2019</span> - Reviewing ankle MSK exams</a></li>
      <li><a href="http:/aaroncheng.me/explanatory/2019/02/20/uncountable.html"><span>February 20, 2019</span> - Uncountability and Cardinality</a></li>
      <li><a href="http:/aaroncheng.me/explanatory/2019/02/10/pepperland.html"><span>February 10, 2019</span> - Pepperland is to The Beatles what Primus is to the Chocolate Factory</a></li>
      <li><a href="http:/aaroncheng.me/explanatory/2019/02/08/tricolorability.html"><span>February 8, 2019</span> - Not all knots are projections of the unknot</a></li>
      <li><a href="http:/aaroncheng.me/explanatory/2019/02/06/voronoi.html"><span>February 6, 2019</span> - Voronoi tessellations result from k-Nearest Neighbors where k=1</a></li>
      <li><a href="http:/aaroncheng.me/explanatory/2019/01/29/transfusion1.html"><span>January 29, 2019</span> - Visualizing pre-transfusion blood parameters</a></li>
      <li><a href="http:/aaroncheng.me/explanatory/2019/01/28/spendee.html"><span>January 28, 2019</span> - Plot expenses by category from exported Spendee data</a></li>
      <li><a href="http:/aaroncheng.me/explanatory/2019/01/24/railsback.html"><span>January 24, 2019</span> - Why are notes at the extremes of a digital keyboard slightly off-tune?</a></li>
      <li><a href="http:/aaroncheng.me/explanatory/2019/01/13/paraconsistent-logic.html"><span>January 13, 2019</span> - Overview of Paraconsistent Logic</a></li>
      <li><a href="http:/aaroncheng.me/explanatory/2019/01/08/border-crisis.html"><span>January 8, 2019</span> - The Border Crisis</a></li>
      <li><a href="http:/aaroncheng.me/explanatory/2018/12/14/the-larger-number.html"><span>December 14, 2018</span> - The Larger Number</a></li>
      <li><a href="http://milkcircle.github.io/explanatory/2018/07/14/first-pass-stable-television-network.html"><span>July 14, 2018</span> - Is First-Pass Stable Television Network Programming Possible?</a></li>
      <li><a href="http://milkcircle.github.io/explanatory/2018/04/22/digoxin.html"><span>April 22, 2018</span> - Digoxin</a></li>
      <li><a href="http://milkcircle.github.io/explanatory/2018/02/12/how-to-drop-a-smartphone.html"><span>February 12, 2018</span> - How to Drop a Smartphone</a></li>
      <li><a href="http://milkcircle.github.io/explanatory/2017/07/22/pseudocatatonia.html"><span>July 22, 2017</span> - Is There Such a Thing as Pseudocatatonia?</a></li>
      <li><a href="http://milkcircle.github.io/explanatory/2016/08/07/gale-shapley.html"><span>August 7, 2016</span> - How a Computer Determines the Fate of Hundreds of Thousands of Medical Students</a></li>
      <li><a href="http://milkcircle.github.io/explanatory/2016/08/04/frequentism-and-bayesianism.html"><span>August 4, 2016</span> - Frequentism vs. Bayesianism</a></li>
      <li><a href="http://milkcircle.github.io/explanatory/2016/08/03/under-the-rainbow.html"><span>August 3, 2016</span> - Under the Rainbow</a></li>
      <li><a href="http://milkcircle.github.io/explanatory/2016/08/02/cantors-diagonal-argument.html"><span>August 2, 2016</span> - Cantor's Diagonal Argument</a></li>
      </ul>
  <h1>Poetry</h1>
    <ul>
      <li><a href="https://aaroncheng.me/poetry/2019/03/13/missingly.html"><span>March 14, 2019</span> - i long for you more than missingly</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/03/13/language.html"><span>March 13, 2019</span> - they taught us that language is bound!by rules</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/03/12/moonful.html"><span>March 12, 2019</span> - love is like a moonful sea</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/03/12/jules.html"><span>March 12, 2019</span> - jules--bejeweled--the other day</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/03/11/grove.html"><span>March 11, 2019</span> - he and she in an overgrown grove</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/03/10/vincent.html"><span>March 10, 2019</span> - vincent</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/03/09/flakes.html"><span>March 9, 2019</span> - flakes</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/03/09/celeste.html"><span>March 9, 2019</span> - celeste</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/03/08/little-by-little.html"><span>March 8, 2019</span> - little by little, big by big</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/03/06/write-a-song.html"><span>March 6, 2019</span> - how to write a song</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/03/03/ocd.html"><span>March 3, 2019</span> - ocd</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/03/01/elegy.html"><span>March 1, 2019</span> - elegy</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/02/26/ferryman.html"><span>February 26, 2019</span> - ferryman</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/02/22/youth.html"><span>February 22, 2019</span> - youth</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/02/22/snow.html"><span>February 22, 2019</span> - snow</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/02/18/bleed.html"><span>February 18, 2019</span> - bleed</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/02/15/seussian-roses.html"><span>February 15, 2019</span> - seussian roses</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/02/13/crypt-6.html"><span>February 13, 2019</span> - crypt 6 -- fin.</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/02/11/if.html"><span>February 11, 2019</span> - if perchance you one day choose</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/02/08/blind.html"><span>February 8, 2019</span> - blind</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/02/07/summit.html"><span>February 7, 2019</span> - summit</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/02/05/layers.html"><span>February 5, 2019</span> - layers</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/02/04/to-catch-a-poem.html"><span>February 4, 2019</span> - to catch a poem</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/02/03/polaris.html"><span>February 3, 2019</span> - polaris</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/02/02/alley.html"><span>February 2, 2019</span> - alley</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/01/31/waterfall.html"><span>January 31, 2019</span> - waterfall</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/01/30/used-to-be.html"><span>January 30, 2019</span> - used to be</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/01/30/would-that.html"><span>January 30, 2019</span> - would that the chirping darkling sky</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/01/28/stroke.html"><span>January 28, 2019</span> - stroke</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/01/26/count.html"><span>January 26, 2019</span> - count</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/01/25/ascent.html"><span>January 25, 2019</span> - ascent</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/01/24/ouroboros.html"><span>January 24, 2019</span> - ouroboros</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/01/23/the-sea-is-not-full.html"><span>January 23, 2019</span> - the sea is not full</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/01/23/athena.html"><span>January 23, 2019</span> - athena</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/01/22/delirium.html"><span>January 22, 2019</span> - delirium</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/01/21/protagoras.html"><span>January 21, 2019</span> - protagoras</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/01/20/phanerozoic.html"><span>January 20, 2019</span> - phanerozoic</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/01/19/someone-i-hate.html"><span>January 19, 2019</span> - i want to meet someone i hate</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/01/18/remember.html"><span>January 18, 2019</span> - remember</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/01/16/afterlife.html"><span>January 16, 2019</span> - afterlife</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/01/14/sunrise.html"><span>January 14, 2019</span> - sunrise</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/01/13/antelope.html"><span>January 13, 2019</span> - antelope</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/01/08/blossom.html"><span>January 8, 2019</span> - blossom</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/01/07/mind-battlefield.html"><span>January 7, 2019</span> - if the mind is a battlefield</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/01/06/dreams.html"><span>January 6, 2019</span> - dreams</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/01/05/crypt-5.html"><span>January 5, 2019</span> - crypt 5 -- if and only if</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/01/02/retrospect.html"><span>January 2, 2019</span> - retrospect</a></li>
      <li><a href="https://aaroncheng.me/poetry/2019/01/01/crypt-4.html"><span>January 1, 2019</span> - crypt 4 -- blue beginnings and ends</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/31/saturn.html"><span>December 31, 2018</span> - saturn</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/29/phlebotomy.html"><span>December 29, 2018</span> - phlebotomy</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/27/theory.html"><span>December 27, 2018</span> - theory</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/26/dancing.html"><span>December 26, 2018</span> - dancing</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/24/crypt-3.html"><span>December 24, 2018</span> - crypt 3 -- César trece</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/24/setting-sun.html"><span>December 24, 2018</span> - setting sun</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/23/proud.html"><span>December 23, 2018</span> - proud</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/22/resolutions.html"><span>December 22, 2018</span> - resolutions</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/22/triplet-metered-eulogy.html"><span>December 22, 2018</span> - triplet-metered eulogy</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/21/crypt-2.html"><span>December 21, 2018</span> - crypt 2 -- cross-stitching a stream of consciousness</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/20/dark-matter.html"><span>December 20, 2018</span> - dark matter</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/19/liqueur.html"><span>December 19, 2018</span> - liqueur</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/18/homunculus.html"><span>December 18, 2018</span> - homunculus</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/16/demons-infest-this-world.html"><span>December 16, 2018</span> - demons infest this world</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/15/fallen.html"><span>December 15, 2018</span> - fallen</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/14/bullet.html"><span>December 14, 2018</span> - bullet</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/13/lilith.html"><span>December 13, 2018</span> - Lilith</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/12/replaced.html"><span>December 12, 2018</span> - replaced</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/11/crypt.html"><span>December 11, 2018</span> - crypt</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/10/laws.html"><span>December 10, 2018</span> - laws</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/09/whiterobe-sheepskin-demoness.html"><span>December 9, 2018</span> - whiterobe sheepskin demoness</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/08/spotless.html"><span>December 8, 2018</span> - spotless</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/08/last-words.html"><span>December 8, 2018</span> - last words</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/07/greener.html"><span>December 7, 2018</span> - greener</a></li>
      <li><a href="https://aaroncheng.me/poetry/2018/12/03/grampa-once-said.html"><span>December 3, 2018</span> - grampa once said he could predict the rain</a></li>
      <li><a href="http://milkcircle.github.io/poetry/2018/11/24/sink.html"><span>November 24, 2018</span> - sink</a></li>
      <li><a href="http://milkcircle.github.io/poetry/2018/09/10/cut.html"><span>September 10, 2018</span> - Cut</a></li>
      <li><a href="http://milkcircle.github.io/poetry/2018/09/08/raindrop.html"><span>September 8, 2018</span> - raindrop</a></li>
      <li><a href="http://milkcircle.github.io/poetry/2018/09/07/a-desert-ride.html"><span>September 7, 2018</span> - A desert ride</a></li>
      <li><a href="http://milkcircle.github.io/poetry/2018/09/06/linkage.html"><span>September 4, 2018</span> - linkage</a></li>
      <li><a href="http://milkcircle.github.io/poetry/2018/09/03/entropy.html"><span>September 3, 2018</span> - entropy</a></li>
      <li><a href="http://milkcircle.github.io/poetry/2018/09/02/in-the-dark.html"><span>September 2, 2018</span> - in the dark</a></li>
      <li><a href="http://milkcircle.github.io/poetry/2018/09/01/goodbye.html"><span>September 1, 2018</span> - Goodbye</a></li>
      <li><a href="http://milkcircle.github.io/poetry/2018/08/31/wernickes.html"><span>August 31, 2018</span> - Wernicke's</a></li>
      <li><a href="http://milkcircle.github.io/poetry/2018/07/06/lighthearted.html"><span>July 6, 2018</span> - lighthearted</a></li>
      <!--<li><a href="http://milkcircle.github.io/poetry/2018/07/01/potential.html"><span>July 1, 2018</span> - the pleural cavity is a potential space</a></li>-->
      <li><a href="http://milkcircle.github.io/poetry/2018/02/09/the-ladder.html"><span>February 9, 2018</span> - The Ladder</a></li>
    </ul>
  <h1>Music</h1>
    <ul>
      <li><a href="https://aaroncheng.me/music/2019/01/12/wings.html"><span>January 12, 2019</span> - wings</a></li>
      <li><a href="https://aaroncheng.me/music/2019/01/09/tell-her.html"><span>January 9, 2019</span> - tell her</a></li>
    </ul>
  <h1>Notes</h1>
    <ul>
      <li><a href="https://aaroncheng.me/notes/2019/02/25/hemodynamic.html"><span>February 25, 2019</span> - Notes on Hemodynamic Monitoring</a></li>
      <li><a href="https://aaroncheng.me/notes/2019/02/24/preventive.html"><span>February 24, 2019</span> - Notes on ICU Preventive Practices</a></li>
      <li><a href="https://aaroncheng.me/notes/2019/02/21/vascular-access.html"><span>February 21, 2019</span> - Notes on Vascular Access</a></li>
      <li><a href="https://aaroncheng.me/notes/2019/01/16/postimputation.html"><span>January 16, 2019</span> - Notes on Post-imputation Analysis</a></li>
      <li><a href="https://aaroncheng.me/notes/2019/01/07/hamiltons-equation.html"><span>January 9, 2019</span> - Hamilton's kin-selection equation</a></li>
      <li><a href="https://aaroncheng.me/notes/2018/11/26/notes-on-immunity.html"><span>November 26, 2018</span> - Notes on Immunity</a></li>
      <li><a href="https://aaroncheng.me/notes/2018/09/29/notes-on-simple-linear-regression.html"><span>September 30, 2018</span> - Notes on Simple Linear Regression</a></li>
      <li><a href="http://milkcircle.github.io/notes/2018/09/21/notes-on-hyperparathyroidism.html"><span>September 21, 2018</span> - Notes on Hyperparathyroidism</a></li>
    </ul>
</section>

<!--
<section class="archive-post-list">

   {% for post in site.posts %}
       {% assign currentDate = post.date | date: "%Y" %}
       {% if currentDate != myDate %}
           {% unless forloop.first %}</ul>{% endunless %}
           <h1>{{ currentDate }}</h1>
           <ul>
           {% assign myDate = currentDate %}
       {% endif %}
       <li><a href="{{ post.url }}"><span>{{ post.date | date: "%B %-d, %Y" }}</span> - {{ post.title }}</a></li>
       {% if forloop.last %}</ul>{% endif %}
   {% endfor %}

</section>-->
